body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', Verdana,serif;
}

h1{
    font-family: 'Dancing Script', cursive;
}

h3{
    font-family: 'Times New Roman', Times, serif;
}

.top-container{
    background-color: #e0ebe8;
    position: relative;
    margin: 0px;
}


.different{
    text-decoration: underline;
}

.top-cloud{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 200px;
}

.bottom-cloud{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 300px;
    top: 30px;
}



