body{
    margin: 0px;
    text-align: center;
}

.top-container{
    background-color: #e0ebe8;
}

/* .middle-container{
    background-color: red;
    border: solid 30px;
    width: 200px;
    height: 200px;
    margin: 20px 30px 40px 50px;
    padding: 10px;
    border-top: 0px;
    padding-right: 0px;

}
.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;

} */

.different{
    text-decoration: underline;
}


.mario{
    width: 100px;
    height: 100px;
}

.hello{
    display: inline-block;
    width: 300px;
}

.cloud{
    height: 200px;
    width: 300px;
}


